@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;800&family=Playfair+Display&display=swap');

:root{
    --primary-color: #ff5ba7 ;
}

body{
    font-family: 'Kanit', sans-serif;
font-family: 'Playfair Display', serif;
margin:0px ;
}
/* containers */
.container {
    padding-left: 1rem;
    padding-right:1rem;
}
.container-center{
    max-width: 600px;
    margin:auto;
}


/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;

}
.primary-link{
    background-color:var(--primary-color);
    text-decoration: none;
    border-radius: 1rem;
    padding : .5rem 1rem;

    color: white;}

.secondary-link {
    color:var(--primary-color);
    border-radius: 1rem ;
    text-decoration: none;
    padding : .5rem 1rem;
    border: 1px solid var(--primary-color)
}  
  /*lists  */
  .list-non-bullet{
    list-style:none;

  }

  .list-item-inline{
    display:inline;
    padding: 0rem 1rem;
  }
  .navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1.1rem;
    border-bottom-left-radius: 1rem ;
  }
  .navigation .nav-brand {
    font-weight: bold;
    font-size:larger;
  }


   .navigation .nav-pills {   
    text-align: right;
    font-size:large;
  }


  .navigation .link{
    color: white;
  }
  .navigation .link-active {
    font-weight:bold ;
    
  }
 /* header */

 .hero{
    padding: 2rem;
 }
 .hero-img{
    max-width: 500px;
    text-align: center;
    display: block;
    margin: auto;

 }
 .hero .hero-heading {
  text-align: center;
  font-size: 2rem;
  color: rgb(79, 78, 78);
  padding-top: 1rem;
 }

 /* section */
 
 .section {
    padding: 2rem ;
 }
 
 .section h3 {
    text-align: center;
 }

 .ow {
    background-color: rgb(208, 208, 208);
 }
   
 /* footer */
 footer{
  background-color: #ff5ba7;
  padding:2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius:1rem ;
 }
 .footer.link{
  color: wheat;
 }
 .footer.ul {
  padding-inline-start: 0px;
 }

